*{
  /* font-family: "Gill Sans", sans-serif; */
}

input{
    font-size:2em;
}
button{
  font-size: 2em;
}
h1{
  font-size:3em;
}
h2{
  font-size:2em;
}
body{
  background:#aaa;
}
.nav{
  position: fixed;
  right:5%;
}
